body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, input { margin: 0; }
ul, ol { margin: 0; padding: 0; list-style: none; }
i, em { font-style: normal; }

.text-red { color: @red; }
.text-yellow { color: @yellow; }
.text-blue { color: @blue; }
.text-green { color: @green; }
.text-sky { color: @sky; }
.text-gray { color: @gray; }

.label {
  display: inline-block;
  margin: 2px;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  white-space: nowrap;
}

.label-red { background-color: @red; }
.label-yellow { background-color: @yellow; }
.label-blue { background-color: @blue; }
.label-green { background-color: @green; }
.label-sky { background-color: @sky; }
.label-gray { background-color: @gray; }

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.hide { visibility: hidden !important; }
.none, [v-cloak] { display: none !important; }
.nowrap { white-space: nowrap !important; }


.screen-pc-big({

});

.screen-pc({

});

.screen-mobile({

});

.screen-mobile-middle({

});

.screen-mobile-small({

});
